.nav-btn-container {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}
.navBtn {
  width: 28px;
  height: 28px;
  color: #121212;
}

.nav-shopping-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.navbar {
  padding: 19px 52px;
}
ul > li > a,
details > summary {
  color: var(--black-900, #121212);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Space Grotesk;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.menu-horizontal {
  gap: 40px;
  z-index: 2;
}
.dropdown-content {
  z-index: 2;
}
.line {
  border-bottom: 1px solid var(--black-200, #eaeaea);
  padding-top: 10px;
  padding-bottom: 10px;
}
.social-btn {
  width: 18px;
  height: 18px;
}
.social-btn-circle {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 9px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: var(--black-100, #f5f5f5);
}

@media (max-width: 1200px) {
  .menu-horizontal {
    gap: 15px;
  }
}
@media (max-width: 992px) {
  .navBtn {
    width: 24px;
    height: 24px;
  }
  .navbar {
    padding: 19px 40px;
  }
}
@media (max-width: 576px) {
  .navbar {
    padding: 10px 16px;
  }
}
@media (max-width: 480px) {
  .nav-btn-container {
    gap: 10px;
  }
  .navbar {
    padding: 10px 16px;
  }
}
@media (max-width: 375px) {
  .navbar {
    padding: 10px 16px;
  }
}
